.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $main-bg;
  z-index: 9999;
  &__container {
    padding: 15px 0;
  }

  &__wrapper {
    @include flex-all-sb;
  }

  &__logo > * {
    width: 109px;
    height: 49px;
  }

  &__burger-menu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 79px;
    left: 0;
    background: $main-bg;
    padding: 20px 50px 30px;
    width: 100%;
    flex-direction: column;
    gap: 50px;

    &.open {
      visibility: visible;
      display: flex;
      animation: 0.6s forwards showModal;
    }

    &.closed {
      opacity: 0;
      animation: 0.6s forwards closeModal;
    }

    &-button {
      margin: auto;
    }
  }

  &__button {
    width: max-content;

    & > * {
      width: max-content;
    }
  }

  &__buttons {
    @include flex-v-center;
  }
}

@include tablet {
  .header {
    &__logo > * {
      width: 157px;
      height: 70px;
    }

    &.sticky-header {
      background: $header-bg;
      position: sticky;
      top: 0;
    }
  }
}