.header {
  &__container {
    padding: 15px 0;
  }

  &__wrapper {
    @include flex-all-sb;
  }

  &__logo > * {
    width: 50%;
    height: 50%;
  }

  &__burger-menu {
    display: none;

    &.open {
      display: block;
    }
  }
  &__button {
    width: max-content;
    & > * {
      width: max-content;
    }
  }
  &__buttons {
    @include flex-v-center;
  }
}

@include tablet {
  .header {
    &__logo > * {
      width: 157px;
      height: 70px;
    }
  }
}