.popular {
  &__wrapper {
    @include mb(68px);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  &__card {
    @include flex-all-center;
    @include border-radius(20px);
    flex-direction: column;
    gap: 8px;
    padding: 30px;
    transition: all 0.4s ease-in-out;

    &:hover {
      & > * {
        transform: scale(1.2);
      }
    }

    &:nth-child(1) {
      background: linear-gradient(109deg, #FD093F 2.4%, #F383F1 100%);
    }

    &:nth-child(2) {
      background: linear-gradient(114deg, #0FFFDA 2.22%, #3CDB77 68.84%);
    }

    &:nth-child(3) {
      background: linear-gradient(109deg, #B936FF 2.4%, #57DEDA 100%);
    }

    &:nth-child(4) {
      background: linear-gradient(109deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
    }

    &:nth-child(5) {
      background: linear-gradient(109deg, #FF6472 2.4%, #FDA75D 100%);
    }

    &:nth-child(6) {
      background: linear-gradient(110deg, #13547A 2.37%, #80D0C7 96.77%);
    }

    &:nth-child(7) {
      background: linear-gradient(110deg, #FFF77B 2.37%, #FFBF42 50%);
    }

    &:nth-child(8) {
      background: linear-gradient(109deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
    }
  }

  &__card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
  }

  &__item {
    @include flex-all-center;
    flex-direction: column;
    flex: 1 1;
    gap: 20px;
    &>* {
      &:hover,
      &:active,
      &:focus, {
        cursor: grab;
      }
    }
    &-name {
      margin-top: 20px;
      text-align: center;
    }
  }
}

@include mobile {
  .popular {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include desktop {
  .popular {
    &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 27px;
    }

    &__card {
      padding: 45px;
    }

    &__card-title {
      font-size: 24px;
    }
  }
}