@import "./variables";
@import "./mixins";
@import "./animation";
@import "./normalize";
//note IMPORTS

//note STYLE MAIN
h1 {
  font-family: $marcellus;
  font-size: 48px;
  font-weight: 400;
  line-height: 70px;
  @include tablet-sm {
    font-size: 80px;
  }
}

h3 {
  color: $text-default;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  @include tablet-sm {
    color: $text-default;
    font-size: 28px;
    font-weight: 700;
    line-height: 20px;
  }
}

.container {
  max-height: max-content;
  margin: 0 auto;
  width: 100%;
  padding: 70px 0;

  // Base styles for mobile devices
  max-width: calc(100% - 20px);

  @include tablet-sm {
    max-width: 95%; // For tablets starting from 601px
  }

  @include tablet {
    max-width: 95%; // For tablets starting from 741px
  }

  @include desktop {
    max-width: 90%; // For desktops starting from 992px
  }
}

.mobile {
  display: block;
  @include desktop {
    display: none;
  }
}

.desktop {
  display: none;
  @include desktop {
    display: block;
  }
}

.nav-bar-mobile, .nav-bar {
  a {
    color: $text-none-active;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background: $gradient1;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover {
      color: $text-default;

      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

}

.nav-bar {
  display: none;
  @include desktop {
    @include flex-v-center;
  }

  & > * {
    @include mr(54px);
  }
}

.nav-bar-mobile {
  @include flex;
  align-items: start;
  flex-direction: column;
}

.button-blue {
  background: linear-gradient(317deg, #26FFF2 13.2%, #326CFF 71.54%);
  filter: drop-shadow(0px 4px 50px rgba(50, 108, 255, 0.50));
  @include border-radius(50px);
  color: $text-default;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  transition: all 0.3s;

  &:hover {
    background-size: 200% 200%;
  }
}

.button-white {
  background: $white-bg;
  color: $text-secondary;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  padding: 15px 30px;
  @include border-radius(50px);
}

.section-title {
  margin-bottom: 45px;
  position: relative;
  display: inline-block;
  margin-left: 20px;

  &::after {
    content: '';
    position: absolute;
    @include border-radius(50px);
    width: 8px;
    height: 35px;
    bottom: -6px;
    left: -20px;
    background: $gradient1;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

//lib: swiper style
@media (min-width: 741px) {
  .swiper-container,
  .swiper-slide,
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination-bullet,
  .swiper-scrollbar {
    all: revert; /* Отмена всех стилей Swiper */
  }
}
.swiper-slide > * {

}
//note STYLE MAIN

//note COMPONENTS

@import "./components/header";
@import "./components/hero";
@import "./components/trending";
@import "./components/popular";
@import "./components/release";
@import "./components/register-banner";
//@import "./components/footer";

//note COMPONENTS