@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes showSection {
  from {
    opacity: 0.1;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showSection {
  from {
    opacity: 0.1;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
main {
  display: block;
  flex: 1 1 auto;
  min-height: 100vh;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Custom Styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background-color: #000;
}
*::-webkit-scrollbar-thumb {
  background: #00e0c7;
}

*,
*::before,
*::after {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.25s ease-in-out;
}

body {
  min-width: 320px;
}

body,
html {
  background-color: #000;
  color: white;
  font-size: 16px;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
html,
body {
  padding: 0;
  margin: 0;
}

p {
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

div {
  -webkit-animation: showSection 0.25s ease-in-out;
  animation: showSection 0.25s ease-in-out;
}

section {
  overflow: hidden;
  animation: showSection 0.45s ease-in-out;
  -webkit-animation: showSection 0.45s ease-in-out;
}
@media (min-width: 1261px) {
  section {
    max-width: 1920px;
    margin: auto;
  }
}

button,
input,
textarea {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

textarea {
  padding: 28px 38px;
  width: 100%;
  max-height: 200px;
  resize: none;
  color: white;
  outline: none;
  overflow: auto;
}
textarea:focus {
  border-color: white;
}

#root {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#root.lock::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(43, 43, 43, 0.7);
}

button {
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 100px 0;
  max-width: calc(100% - 40px);
}
@media (min-width: 601px) {
  .container {
    max-width: 95%;
  }
}
@media (min-width: 741px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 85%;
  }
}

.mobile {
  display: block;
}
@media (min-width: 992px) {
  .mobile {
    display: none;
  }
}

.nav-bar-mobile a, .nav-bar a {
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  position: relative;
  display: inline-block;
}
.nav-bar-mobile a::after, .nav-bar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(317deg, #26FFF2 13.2%, #326CFF 71.54%);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-bar-mobile a:hover, .nav-bar a:hover {
  color: white;
}
.nav-bar-mobile a:hover::after, .nav-bar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar-mobile {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.button-blue {
  background: linear-gradient(317deg, #26FFF2 13.2%, #326CFF 71.54%);
  filter: drop-shadow(0px 4px 50px rgba(50, 108, 255, 0.5));
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  transition: all 0.3s;
}
.button-blue:hover {
  background-size: 200% 200%;
}

.button-white {
  background: #fff;
  color: #323232;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  padding: 15px 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.header__container {
  padding: 15px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo > * {
  width: 50%;
  height: 50%;
}
.header__burger-menu {
  display: none;
}
.header__burger-menu.open {
  display: block;
}

@media (min-width: 741px) {
  .header__logo > * {
    width: 157px;
    height: 70px;
  }
}
.hero {
  background: url("../assets/picture/hero-section-mobile.jpg") no-repeat center;
  background-size: 320% 150%;
  border-bottom: 2px solid #2F2E2E;
}
.hero__container {
  padding: 60px 0;
}
.hero__title {
  font-family: "Marcellus", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  max-width: 532px;
}
.hero__features {
  margin: 32px 0 25px 0;
  display: flex;
  align-items: center;
}
.hero__features-left > *:not(:last-child) {
  margin-right: 18px;
}
.hero__features > * {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 10px;
}
.hero__features > *:not(:last-child) {
  margin-right: 40px;
}
.hero__item-rating {
  gap: 10px;
}
.hero__item-age {
  border: 1.5px solid #26FFF2;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 6px 15px;
}
.hero__description {
  color: #C2C2C2;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 507px;
}
.hero__bottom {
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.hero__bottom > *:not(:last-child) {
  margin-right: 18px;
}
.hero__watch-button {
  padding: 15px 15px;
}
.hero__watch-button img {
  margin-right: 10px;
}

@media (min-width: 601px) {
  .hero {
    background: url("../assets/picture/hero-section-picture.jpg") no-repeat center center;
    background-size: 200% auto;
  }
  .hero__container {
    padding: 120px 0 200px 0;
  }
  .hero__title {
    font-size: 80px;
  }
}
@media (min-width: 992px) {
  .hero {
    background: url("../assets/picture/hero-section-picture.jpg") no-repeat center right;
    background-size: 85% 126%;
  }
  .hero__container {
    padding: 120px 0 200px 0;
  }
  .hero__title {
    font-size: 80px;
  }
}

/*# sourceMappingURL=index.css.map */
