@mixin flex {
  display: flex;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// For screens wider than 600px
@mixin tablet-sm {
  @media (min-width: 601px) {
    @content;
  }
}

// For screens wider than 740px
@mixin tablet {
  @media (min-width: 741px) {
    @content;
  }
}

// For screens wider than 991px
@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

// For screens wider than 1260px
@mixin large-pc {
  @media (min-width: 1261px) {
    @content;
  }
}

@mixin mr($value) {
  &:not(:last-child) {
    margin-right: $value;
  }
}

@mixin ml($value) {
  &:not(:last-child) {
    margin-left: $value;
  }
}

@mixin mb($value) {
  &:not(:last-child) {
    margin-bottom: $value;
  }
}

@mixin mt($value) {
  &:not(:last-child) {
    margin-top: $value;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
