//note BACKGROUND
$main-bg: #000;
$white-bg: #fff;
$footer-bg: #101012;


//note TEXT
$text-default: #ffff;
$text-secondary: #323232;
$text-none-active: #808080;
$text-grey: #C2C2C2;

//note GRADIENT
$gradient1: linear-gradient(317deg, #26FFF2 13.2%, #326CFF 71.54%);

//note BORDER
$border-section: #2F2E2E;

//note FONT-FAMILY
$mulish: 'Mulish', sans-serif;
$marcellus: 'Marcellus', serif;

//note BOX-SHADOW
$box-shadow1: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
